*{
    margin: 0;
    padding: 0;
    outline: 0;
}

img{
    border: 0;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.clr{
    clear: both;
}

.card_button{
    text-align: right;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.card_header{
    background-color: rgb(236, 243, 246);
}

.col_form_label{
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    margin-top: -4px;
    color: #000;
    padding-right: 0px;
}

span.req_star{
    color: #E74C3C;
}

table.custom_view_table tr td:first-child{
    text-align: right;
    width: 30%;
    font-weight: bold;
    color: #000;
    font-size: 16px;
  }
  
  table.custom_view_table tr td:last-child{
    text-align: left;
    width: 69%;
  }